/* Style the header with a grey background and some padding */
.header {
    position: fixed;
    top: 0px;
    left: 0px;
    overflow: hidden;
    background-color: rgba(0, 117, 115, 0.5);
    padding: 5px 5px;
    width: 500px;
    min-width: 100px;
    border-radius: 0px 5px 50px 0px;
    backdrop-filter: blur(10px);
    z-index: 1;
  }
  
  /* Style the header links */
  .header a {
    font-weight: 400;
    float: left;
    color: hsl(178.97, 65%, 88.94%);
    text-align: center;
    padding: 8px;
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
    border-radius: 4px;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.whirltext {
    font-size: 25px;
    font-weight: 600;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    transition: all 1s cubic-bezier(.3,.94,.3,.95);
    background-color: hsl(178.97, 65%, 88.94%);
    color: black;
    font-weight: 650;
  }
  
  /* Style the active/current link*/
  .header a.active {
    background-color: rgb(0, 87, 85);
    color: hsl(178.97, 65%, 88.94%);
    font-weight: 500;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
  }
  
  .header-buffer {
    float: right;
    margin: 0px 0px 0px 21px;
  }