---
import Layout from '../layouts/Base.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	image="/blog-placeholder-about.jpg"
>
	<h1 class="title">About</h1>
	<p>
		o/!
		I don't use my real name much of anywhere, so you can call me <span class="highlighted">whirlingstars</span>, since that's what i tend to go by. <br \>
		Usually, people shorten it to <span class="highlighted">whirling</span> or <span class="highlighted">whirl</span>, and those people are fine. <br \>
		People who shorten it to <span class="highlighted">stars</span> should be sentenced to de- I mean, that's fine too.
	</p>

</Layout>

