---
import BaseLayout from '../layouts/Base.astro';
import PostPreview from "@/components/blog/PostPreviewB";
import SocialMediaLinks from "@/components/SocialMediaLinks";
import { getAllPosts, sortMDByDate, sortMDByPinned } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
const allPostsByPinned = sortMDByPinned(allPostsByDate);

---

<BaseLayout title="Home">
	<section>
		<h1 class="title">it's a me, <s>mario</s> <span class="highlighted">whirling</span>!</h1>
		<p class="mb-2 sm:mb-4">
		there's more about me in the <a href="/about">about me (link).</a>
		</p>
	</section>
	<section class="mt-4 sm:mt-8">
		<h2 class="title">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{allPostsByPinned.map(p => <PostPreview post={p}/>)}
		</ul>
	</section>
</BaseLayout>
