---
import Navbar from '../components/Navbar.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>whirl(ing)!</title>
	</head>
	<body>
		<Navbar />
		<main>
			<slot />
		</main>
	</body>
</html>

<style is:global>
	:root {
		--color-primary: #007573;
		--color-primary-half-transparent: oklch(from var(--color-primary) l c h / 0.5);
		--color-primary-bright: oklch(from var(--color-primary) calc(l + 0.25) calc(c + 0.04) h);
		--color-primary-half-bright: oklch(from var(--color-primary) calc(l + 0.125) calc(c + 0.02) h);
		--color-primary-visited: oklch(from var(--color-primary-bright) calc(l - 0.1) calc(c + 0.04) calc(h + 120));
		--color-primary-dark: oklch(from var(--color-primary) calc(l - 0.2) c calc(h + 5));
		--color-primary-background: oklch(from var(--color-primary) calc(l / 2.5) calc(c - 0.04) calc(h + 10));
		--color-primary-background-dark: oklch(from var(--color-primary-background) calc(l / 1.5) calc(c) calc(h - 2));
		--color-primary-navbar: oklch(from var(--color-primary) calc(l / 2.5) c h / 0.5);
		--color-primary-navbar-bottom: oklch(from var(--color-primary) calc(l / 4) calc(c + 0.04) calc(h + 5) / 0.5);
		--color-text: #f0f0f0;
		--color-text-secondary: oklch(from var(--color-text) l c h / 0.7);
		--nav-height: 48px;
		background-color: var(--color-primary-background);
	}

	html,
	body {
		font-family: "Atkinson Hyperlegible Next", sans-serif;
		margin: 0;
		color: var(--color-text);
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	main {
		flex: 1;
		display: flex;
		flex-direction: column;
	}

	a {
		color: var(--color-primary-bright);
	}

	a:visited {
		color: var(--color-primary-visited);
	}

	h1, h2, h3, h4, h5, h6 {
		color: var(--color-primary-bright);
	}

	h1 {
		font-size: 2.5rem;
		font-weight: 700;
	}

	h2 {
		font-size: 2.125rem;
		font-weight: 700;
	}

	h3 {
		font-size: 1.75rem;
		font-weight: 700;
	}

	h4 {
		font-size: 1.4rem;
		font-weight: 700;
	}

	h5 {
		font-size: 1.35rem;
		font-weight: 600;
	}

	h6 {
		font-size: 1.3rem;
		font-weight: 500;
	}

	hr {
		width: 40%;
		border: none;
		height: 2px;
		background-image: linear-gradient(to right, transparent, 20%, var(--color-primary-bright), 80%, transparent);
		margin: 20px 0;
	}


	hr.px600 {
		width: 600px;
		@media (max-width: 600px) {
			width: 100%;
			background-image: linear-gradient(to right, var(--color-primary));
		}
	}

	button {
		background-color: transparent;
		color: var(--color-primary-bright);
		border: 2px solid var(--color-primary);
		padding: 5px 10px;
		border-radius: 5px;
		cursor: pointer;
		font-size: 1rem;
		font-weight: 500;
		transition: background-color 0.3s ease;
	}

	button:hover {
		transition: background-color 0.4s ease;
		background-color: var(--color-primary-dark);
		font-weight: 520;
	}

	button:active {
		transition: background-color 0.4s ease;
		color: var(--color-text);
		background-color: var(--color-primary);
		border-color: var(--color-primary-dark);
		font-weight: 550;
	}

	@font-face {
		font-family: 'Atkinson Hyperlegible Next';
		src: url('/fonts/AtkinsonHyperlegibleNext-VariableFont_wght.ttf');
		font-style: normal;
	}

	@font-face {
		font-family: 'Atkinson Hyperlegible Next';
		src: url('/fonts/AtkinsonHyperlegibleNext-Italic-VariableFont_wght.ttf');
		font-style: italic;
	}

	@font-face {
		font-family: 'Atkinson Hyperlegible Mono';
		src: url('/fonts/AtkinsonHyperlegibleMono-VariableFont_wght.ttf');
		font-style: normal;
	}

	@font-face {
		font-family: 'Atkinson Hyperlegible Mono';
		src: url('/fonts/AtkinsonHyperlegibleMono-Italic-VariableFont_wght.ttf');
		font-style: italic;
	}

</style>
